html {
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

  body {
    min-height: 100vh;
    line-height: 1;
    font-family: sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
  }
  
  input, select, option, optgroup, textarea, button,
  pre, code {
    font-size: 100%;
    font-family: inherit;
  }
  
  ol, ul {
    list-style: none;
  }

 /* Styling the top banner */
#dashboard-banner, .foot{
    background-color: black;
    padding: 30px;
    width: 100%;
    color:white;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

/* Holds all weather data, stretches it across screen*/
.weather-container{
    padding: 10px;
    margin: 10px;
    width: 100%;
}

/* border and padding around today's weather */
.current-day{
    border: 2px solid darkgray;
    padding: 10px;
}

/* containers for each of the 5-day forecast data */
.forecast-day-container{
    display: none;
    color: white;
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

/* seperating buttons within the list of buttons */
.seperate-list{
    border-bottom: 2px solid lightgray;
    
}

/* generic styling rules for buttons, adding margin, padding, and border radius */
button{
    margin-bottom: 10px;
    padding: 1.5px;
    border-radius: 1.5px;  
}

/* adding rules for the search button */
#search-btn{
    margin: 10px;
    border: 1px solid darkgray;
    background-color: black;
    color:white;
}

/* change color on hover for search button */
#search-btn:hover{
    background-color: darkgray;
    border-color: darkgray;
}

/* buttons for saved city coloring */
.saved-city{
    border: 1px solid lightgray;
}

/* change color for hover on saved city buttons */
.saved-city:hover{
    background-color: lightgray;
    border-color: gray;
}



/*Makes all hyperlinks white with underline text*/
a{
    color:white;
    text-decoration: underline;
  }

/*makes all hyperlinks color lightblue on hover */
a:hover{
    color:darkgray;
}

/*so that media query can change flex*/
.custom-flex{
    display: flex;
}

/*changing forecast flex */
@media screen and (max-width: 1024px){
    .custom-flex{
        display: flex;
        flex-direction: column;
    }    
}

/*might be reduntant, trying to fix sizing issue in media query*/
@media screen and (max-width: 428px){
    h3{
        font-size: 16px;
    }
    input{
        width: 100%;
    }

}