:root {
  --darkblue: #18344e;
  --midblue: #254f76;
  --greyblue: #5d84a9;
  --lightblue: #85b1da;
  --xlight: #c2d8eb;
  --offwhite: #f5f5f4;
  --drkgrey: #545454;
  --grey: #737373;
  
}
* {
  font-family: 'Montserrat', sans-serif;
}

#main {
  background-color: var(--offwhite) !important;
}

.weatherInfo {
  list-style: none;
}

.pastBtn, .refineBtn {
  margin: 2px;
}

#searchResults {
  padding:0px 15px;
}

#header {
  padding-top: 8px;
  min-height: 80px;
  background-color: var(--darkblue);
  color: var(--offwhite);
  margin-bottom: 0px;
  background-image: linear-gradient(
        var(--darkblue) 0%,
        var(--midblue) 100%
      );
}

.btn {
  background-color: var(--midblue);
  
  
}

.btn:hover {
  background-color: var(--greyblue);
}


#fiveDay h6 {
  margin-bottom: 0px;
}

#CityDate {
  max-height: 35px;
  margin-bottom: 0px;
}

#CityDate img {
  max-width: 50px;
  float: right;
}

#weatherTable th {
  border-radius: 8px 8px 0 0;
  align-items: center;

}

#weatherTable  thead{
  background-color: var(--greyblue) !important;
  border-bottom: #4c6f8d solid 1px;
  color: white;
}


#fiveDay .date {
  background-color: var(--greyblue);
  color: white;
  border-radius: 5px 5px 0 0;
}

#fiveDay .weatherInfo {
  background-color: var(--xlight);
  background-image: linear-gradient(
      #d4e1ed 0%,
      var(--xlight) 100%);
  border-radius: 0 0 5px 5px;
}


.weatherInfo img {
  width: 50px;
}

.today {
  width: 95%;
}
